doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", href="files/favicon.ico")
		include utils/fonts
		title Main Page
	body
		include components/header

		.tabs
			ul.tabs__buttons
				li.tabs__button.tabs__button--active(data-tabs-path='first') Первый
				li.tabs__button(data-tabs-path='second') Второй
				li.tabs__button(data-tabs-path='third') Третий
			.tabs__item.tabs__item--active(data-tabs-target='first')
				.tabs__content 
					.tabs__title Первый
					.tabs__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus impedit possimus, tenetur sint cupiditate earum, voluptatibus tempore magni aperiam qui praesentium maiores recusandae? Nisi officiis ex nesciunt accusamus sit temporibus.
			.tabs__item(data-tabs-target='second') 
				.tabs__content 
					.tabs__title Второй
					.tabs__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus impedit possimus, tenetur sint cupiditate earum
			.tabs__item(data-tabs-target='third') 
				.tabs__content 
					.tabs__title Третий
					.tabs__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus impedit possimus, tenetur sint cupiditate earum, voluptatibus tempore magni aperiam qui praesentium maiores recusandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus impedit possimus, tenetur sint cupiditate earum, voluptatibus tempore magni aperiam qui praesentium maiores recusandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus impedit possimus, tenetur sint cupiditate earum, voluptatibus tempore magni aperiam qui praesentium maiores recusandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus impedit possimus, tenetur sint cupiditate earum, voluptatibus tempore magni aperiam qui praesentium maiores recusandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus impedit possimus, tenetur sint cupiditate earum, voluptatibus tempore magni aperiam qui praesentium maiores recusandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus impedit possimus, tenetur sint cupiditate earum, voluptatibus tempore magni aperiam qui praesentium maiores recusandae? 


		include components/footer
		script(src='js/app.min.js')
